build
.libs
autom4te.cache
modules
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
grib2.la
libtool
Makefile
Makefile.fragments
Makefile.objects
run-tests.php
src/php_grib2.lo
